{% extends 'base.html.twig' %}

{% block title %}Smurf{% endblock %}

{% block body %}
    <h1>Smurf</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ smurf.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ smurf.name }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ smurf.gender ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_smurf_index') }}">back to list</a>

    <a href="{{ path('app_smurf_edit', {'id': smurf.id}) }}">edit</a>

    {{ include('smurf/_delete_form.html.twig') }}
{% endblock %}
